# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/

# Environment variables
.env

# TypeScript
*.tsbuildinfo

# Prisma
prisma/dev.db

# Logs
logs
*.log

# VSCode settings
.vscode/*     
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Docker
*.local
docker-compose.override.yml

# OS junk
.DS_Store
Thumbs.db

/src/generated/prisma
