<app-date-range-picker (rangeChange)="onRangeChange($event)" />

@if (!loading()) {
  <div
    class="mt-4 block h-[18rem] w-full overflow-auto rounded-md border border-border">
    <!-- we defer the loading of the table, because tanstack manipulates the DOM with flexRender which can cause errors during SSR -->
    @defer {
      <table hlmTable class="w-full">
        <thead hlmTHead>
          @for (headerGroup of table.getHeaderGroups(); track headerGroup.id) {
            <tr hlmTr>
              @for (header of headerGroup.headers; track header.id) {
                <th hlmTh [attr.colSpan]="header.colSpan">
                  @if (!header.isPlaceholder) {
                    <ng-container
                      *flexRender="
                        header.column.columnDef.header;
                        props: header.getContext();
                        let headerText
                      ">
                      <div [innerHTML]="headerText"></div>
                    </ng-container>
                  }
                </th>
              }
            </tr>
          }
        </thead>
        <tbody hlmTBody class="w-full">
          @for (row of table.getRowModel().rows; track row.id) {
            <tr
              hlmTr
              [attr.key]="row.id"
              [attr.data-state]="row.getIsSelected() && 'selected'">
              @for (cell of row.getVisibleCells(); track $index) {
                <td hlmTd>
                  <ng-container
                    *flexRender="
                      cell.column.columnDef.cell;
                      props: cell.getContext();
                      let cell
                    ">
                    <div [innerHTML]="cell"></div>
                  </ng-container>
                </td>
              }
            </tr>
          }
        </tbody>
      </table>
    }
  </div>
  @if (table.getRowCount() > 0) {
    <div class="mt-2">
      <app-pagination [table]="table" />
    </div>
  }
} @else {
  <p class="text-center">Loading...</p>
}
